# File e cartelle di sistema Windows
*.dat
*.ini
Cookies/
AppData/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/

# Impostazioni personali
.vscode/
*.lesshst
*.viminfo
node_modules/
